@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url(../fonts/Montserrat-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url(../fonts/Montserrat-Italic.woff2) format("woff2");
  font-weight: 400;
  font-style: italic
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url(../fonts/Montserrat-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url(../fonts/Montserrat-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url(../fonts/Montserrat-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
:root {
  --acid-green: #43f227;
  --dark-grey: #393838;
  --white: #fff;
  --black: #111
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: var(--dark-grey);
  line-height: 1;
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 500;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Montserrat;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 80.25rem;
  margin: 0 auto;
  padding: 0 1.25rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: 1.25rem 1fr minmax(auto,77.75rem) 1fr 1.25rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
input[type=email],
input[type=tel],
input[type=text],
textarea {
  -webkit-appearance: none;
  appearance: none
}
.input {
  border-radius: 3.125rem!important;
  width: 100%;
  display: block;
  background-color: var(--dark-grey);
  height: 4.25rem;
  padding: .625rem 1.875rem;
  font-weight: 500;
  font-size: 1.125rem;
  color: var(--white)
}
.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  color: inherit;
  -webkit-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  color: inherit;
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  color: inherit;
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  color: inherit;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0
}
textarea.input {
  resize: none;
  padding: 0 0
}
.checkbox {
  cursor: pointer;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  position: relative;
  gap: 1rem
}
.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0
}
.checkbox__input:focus-visible~.checkbox__fake {
  outline: auto
}
.checkbox__input:checked~.checkbox__fake {
  background: url(../img/icons/check.svg) center/contain no-repeat
}
.checkbox__fake {
  align-self: start;
  border: 1px solid var(--white);
  width: 1.3125rem;
  height: 1.3125rem;
  transition: border .3s
}
.select {
  min-width: 0;
  position: relative
}
.select__body {
  position: relative
}
.select__title {
  color: var(--white);
  text-align: left;
  background-color: var(--dark-grey);
  cursor: pointer;
  width: 100%;
  border-radius: 3.125rem
}
.select__value {
  display: flex;
  min-width: 0;
  align-items: center;
  height: 4.25rem;
  line-height: 120%;
  padding: .625rem 1.875rem;
  gap: .625rem;
  font-weight: 500;
  font-size: 1.125rem
}
.select__value>* {
  flex: 1 1 auto
}
.select__value:after {
  content: "";
  flex: 0 0 .9375rem;
  height: .9375rem;
  background: url(../img/icons/arrow-down.svg) center/15px 15px no-repeat;
  transition: all .3s ease 0s;
  display: flex;
  justify-content: center;
  align-items: center
}
._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}
.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: .5
}
.select__content {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.select__text {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.select__input {
  width: 100%;
  background-color: rgba(0,0,0,0);
  height: 100%
}
.select__options {
  color: var(--white);
  position: absolute;
  top: calc(100% + .375rem);
  min-width: 100%;
  left: 0;
  background-color: var(--dark-grey);
  border-radius: 1.875rem;
  overflow: hidden;
  padding: .625rem 0
}
.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 12.5rem
}
.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: .9375rem 1.875rem;
  font-weight: 500;
  font-size: 1.125rem;
  color: inherit
}
.select__option._select-selected {
  background-color: var(--black)
}
.select__row {
  display: inline-flex;
  align-items: center
}
.select--show-top .select__options {
  top: auto;
  bottom: calc(100% + .375rem);
  background-color: var(--dark-grey);
  border-radius: 3.125rem;
  overflow: hidden;
  padding: .625rem 0
}
._select-tag {
  cursor: pointer
}
.icon-menu {
  position: relative;
  width: 1.4375rem;
  height: 1.4375rem;
  display: grid;
  place-content: center;
  z-index: 5;
  transition: color .3s
}
.menu__body {
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: 100svh;
  left: -100%;
  top: 0;
  z-index: 20;
  overflow: auto;
  padding-left: max(1.25rem,(100% - 112.1875rem)/2);
  padding-right: max(1.25rem,(100% - 112.1875rem)/2);
  background-color: var(--dark-grey);
  display: grid;
  transition: left .3s ease-in-out .1s
}
.menu-open .menu__body {
  left: 0
}
.menu__close {
  position: fixed;
  top: 3.125rem;
  right: -200%;
  z-index: 25;
  transition: right .4s ease-in-out .3s
}
.menu-open .menu__close {
  right: max(1.25rem,(100% - 112.1875rem)/2)
}
.menu__inner {
  display: flex
}
.menu__content {
  max-width: 50rem;
  width: 100%;
  padding: 4.375rem 1.25rem 3.4375rem 0;
  background-color: var(--black);
  display: grid;
  align-items: end;
  gap: 1.25rem;
  position: relative;
  z-index: 21
}
.menu__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  -webkit-transform: translate(-100%,0);
  transform: translate(-100%,0);
  background-color: var(--black)
}
.menu__logo {
  align-self: start;
  margin-bottom: auto;
  max-width: 14.5625rem
}
.menu__logo img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.menu__contacts {
  display: grid;
  align-content: start;
  gap: 3.5rem;
  transition: gap .3s
}
.menu__email-block {
  -webkit-transform: translate(-100%,0);
  transform: translate(-100%,0);
  transition: -webkit-transform .8s;
  transition: transform .8s;
  transition: transform .8s,-webkit-transform .8s
}
.menu-open .menu__email-block {
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.menu__email-label {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1.5rem
}
.menu__email {
  text-transform: uppercase;
  transition: color .3s;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  word-break: break-word
}
.menu__phones {
  display: grid;
  align-content: start;
  -webkit-transform: translate(-100%,0);
  transform: translate(-100%,0);
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s,-webkit-transform 1s
}
.menu-open .menu__phones {
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.menu__label {
  line-height: 120%;
  font-size: 1.5rem;
  margin-bottom: 1.5rem
}
.menu__phone {
  font-size: 1.5rem;
  transition: color .3s
}
.menu__phone:not(:last-child) {
  margin-bottom: 1rem
}
.menu__social {
  -webkit-transform: translate(-100%,0);
  transform: translate(-100%,0);
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s,-webkit-transform 1.2s
}
.menu-open .menu__social {
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.menu__copy {
  font-size: 1rem;
  line-height: 140%;
  color: var(--white)
}
.menu__list {
  width: 100%;
  padding: 7.125rem 0 3.4375rem 5.625rem;
  display: grid;
  align-content: start;
  gap: 2.25rem;
  position: relative;
  z-index: 20;
  transition: gap .3s
}
.menu__item {
  -webkit-transform: translate(-100%,0);
  transform: translate(-100%,0)
}
.menu__item:nth-child(1) {
  transition: -webkit-transform .3s ease 0s;
  transition: transform .3s ease 0s;
  transition: transform .3s ease 0s,-webkit-transform .3s ease 0s
}
.menu__item:nth-child(2) {
  transition: -webkit-transform .6s ease 0s;
  transition: transform .6s ease 0s;
  transition: transform .6s ease 0s,-webkit-transform .6s ease 0s
}
.menu__item:nth-child(3) {
  transition: -webkit-transform .9s ease 0s;
  transition: transform .9s ease 0s;
  transition: transform .9s ease 0s,-webkit-transform .9s ease 0s
}
.menu__item:nth-child(4) {
  transition: -webkit-transform 1.2s ease 0s;
  transition: transform 1.2s ease 0s;
  transition: transform 1.2s ease 0s,-webkit-transform 1.2s ease 0s
}
.menu__item:nth-child(5) {
  transition: -webkit-transform 1.5s ease 0s;
  transition: transform 1.5s ease 0s;
  transition: transform 1.5s ease 0s,-webkit-transform 1.5s ease 0s
}
.menu-open .menu__item {
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.menu__link {
  font-weight: 700;
  font-size: 1.5rem;
  transition: color .3s
}
.spollers {
  display: grid;
  align-content: start;
  gap: 1.5rem
}
.spollers__item {
  font-size: 1.25rem;
  line-height: 140%;
  padding-top: 1rem;
  border-top: 1px solid var(--dark-grey)
}
.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  padding: .3125rem 1.875rem .3125rem 0;
  font-size: 1.875rem;
  line-height: 140%;
  position: relative;
  list-style: none
}
.spollers__title::-webkit-details-marker,
.spollers__title::marker {
  display: none
}
._spoller-init .spollers__title {
  cursor: pointer
}
._spoller-init .spollers__title::after,
._spoller-init .spollers__title::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  background-color: #000;
  height: .3125rem;
  width: 1.0625rem;
  transition: -webkit-transform .5s ease 0s;
  transition: transform .5s ease 0s;
  transition: transform .5s ease 0s,-webkit-transform .5s ease 0s
}
._spoller-init .spollers__title::before {
  -webkit-transform: rotate(0);
  transform: rotate(0)
}
._spoller-init .spollers__title::after {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg)
}
._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: rotate(0);
  transform: rotate(0)
}
._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(0);
  transform: rotate(0)
}
.spollers__body {
  padding: 1rem 0
}
@-webkit-keyframes scrollline {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
  }
}
@keyframes scrollline {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
  }
}
.title {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 120%
}
.button,
.button-white {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  min-width: 17.75rem;
  font-weight: 500;
  font-size: 1.5625rem;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .625rem;
  min-height: 4.25rem;
  padding: .6875rem .6875rem .6875rem 1.5625rem;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.03);
  background-color: var(--dark-grey);
  border: 1px solid var(--dark-grey);
  border-radius: 3.125rem;
  overflow: hidden;
  position: relative;
  z-index: 2;
  transition: color .3s,border .3s
}
.button--empty-green,
.button-white--empty-green {
  background-color: rgba(0,0,0,0);
  border-color: var(--acid-green);
  color: var(--white)
}
.button-white__circle,
.button__circle {
  flex-shrink: 0;
  border-radius: 50%;
  width: 2.75rem;
  height: 2.75rem;
  background-color: var(--white);
  display: grid;
  place-content: center;
  color: var(--dark-grey);
  transition: background .3s,color .3s;
  position: relative
}
.button-white__circle::before,
.button__circle::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  z-index: -1;
  background-color: var(--white);
  border-radius: 3.125rem;
  -webkit-transform: translate(0,-50%) scale(0);
  transform: translate(0,-50%) scale(0);
  width: 100%;
  height: 100%;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s,-webkit-transform .6s
}
.button-white {
  color: var(--dark-grey);
  background-color: var(--white);
  border: 1px solid var(--white)
}
.button-white .button__circle {
  background-color: var(--dark-grey);
  color: var(--white)
}
.button-white .button__circle::before {
  background-color: var(--acid-green)
}
.button-dark,
.button-empty {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-weight: 500;
  font-size: 1.125rem;
  color: var(--dark-grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .75rem;
  min-height: 3.5625rem;
  padding: .875rem 1.25rem;
  background-color: rgba(0,0,0,0);
  border: 1px solid var(--dark-grey);
  border-radius: 3.125rem;
  overflow: hidden;
  position: relative;
  z-index: 2;
  transition: color .3s,border .3s
}
.button-dark::before,
.button-empty::before {
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 3.125rem;
  background-color: var(--dark-grey);
  transition: top .3s
}
.button-dark--white,
.button-empty--white {
  border-color: var(--white);
  color: var(--white)
}
.button-dark--white::before,
.button-empty--white::before {
  background-color: var(--acid-green)
}
.button-dark {
  background-color: var(--dark-grey);
  color: #fff
}
.button-dark::before {
  background-color: var(--white)
}
.form-block {
  display: grid;
  align-content: start;
  gap: 2.25rem
}
.form-block__inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem
}
.form-block__inputs .select {
  flex: 1 1 auto;
  width: calc(50% - 1rem);
  min-width: 15rem
}
.form-block__input {
  flex: 1 1 auto;
  width: calc(50% - 1rem);
  min-width: 15rem
}
.form-block__checkboxes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem 2.25rem
}
.section-top {
  display: grid;
  align-items: start;
  grid-template-columns: auto 1fr;
  gap: 1.5rem;
  font-weight: 700;
  font-size: 1.25rem
}
.section-top__num {
  color: var(--acid-green)
}
.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: .6875rem
}
.swiper-pagination .swiper-pagination-bullet {
  cursor: pointer;
  width: .875rem;
  height: .875rem;
  background-color: #d9d9d9;
  border-radius: .875rem;
  transition: width .3s,background .3s
}
.swiper-pagination .swiper-pagination-bullet-active {
  width: 2.25rem;
  background-color: var(--acid-green)
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  padding: 1.8125rem 0 1.25rem 0;
  background-color: rgba(0,0,0,0);
  color: var(--white);
  transition: padding-top .3s,padding-bottom .3s,background .3s,backdrop-filter .3s
}
.header._header-scroll {
  padding: 1rem 0;
  background-color: rgba(17,17,17,.5);
  backdrop-filter: blur(10px)
}
.header__body {
  display: flex;
  align-items: center;
  transition: margin .3s
}
.header__body:not(:last-child) {
  margin-bottom: 3.125rem
}
._header-scroll .header__body:not(:last-child) {
  margin-bottom: .75rem
}
.header__logo {
  max-width: 14.5625rem
}
.header__logo:not(:last-child) {
  margin-right: 1rem
}
.header__logo img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.header__desktop-menu {
  margin-left: auto
}
.header__desktop-menu:not(:last-child) {
  margin-right: 3.5rem
}
.header__social:not(:last-child) {
  margin-right: 3.5rem
}
.desktop-menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: .625rem 2.25rem
}
.desktop-menu__link {
  font-size: 1.125rem;
  transition: color .3s
}
.social-block {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: .625rem 1rem
}
.social-block__link {
  width: 2.25rem;
  height: 2.25rem;
  display: grid;
  place-content: center;
  padding: .3125rem;
  border-radius: 50%;
  border: 1px solid var(--acid-green);
  color: var(--acid-green);
  overflow: hidden;
  position: relative;
  z-index: 2;
  transition: color .3s,border .3s
}
.social-block__link::before {
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--white);
  transition: top .3s
}
.languages {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: .625rem .875rem
}
.languages__link {
  font-size: .625rem;
  transition: color .3s
}
.languages__link.active {
  font-weight: 700;
  pointer-events: none
}
.footer {
  background-color: var(--black);
  color: var(--white);
  padding: 3.5rem 0
}
.footer__body {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem
}
.footer__info {
  display: flex;
  flex-direction: column;
  gap: 2.25rem
}
.footer__logo {
  max-width: 14.5625rem
}
.footer__logo img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.footer__copy {
  font-weight: 400;
  font-size: 1rem;
  line-height: 140%;
  margin-top: auto
}
.footer__menu-list {
  display: grid;
  align-content: start;
  gap: 2.25rem
}
.footer__menu-link {
  font-size: 1.125rem;
  transition: color .3s
}
.footer__contacts {
  max-width: 43.125rem;
  width: 100%
}
.footer__title {
  margin-bottom: 1rem
}
.footer__text {
  line-height: 140%;
  margin-bottom: 2.25rem
}
.top {
  padding-top: 9.6875rem;
  background: var(--black) url(../img/hero-bg.webp) top right/cover no-repeat;
  color: var(--white)
}
.hero {
  margin-bottom: 12.5rem
}
.hero__body {
  display: flex
}
.hero__content {
  padding-top: 7.5rem;
  max-width: 45.3125rem;
  width: 100%
}
.hero__title {
  font-weight: 700
}
.hero__title:not(:last-child) {
  margin-bottom: .6875rem
}
.hero__title span {
  font-weight: 500;
  color: var(--acid-green)
}
.hero__title span:last-child {
  display: block;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-left: auto
}
.hero__text {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 140%
}
.hero__text:not(:last-child) {
  margin-bottom: 2.25rem
}
.hero__img {
  max-width: 48rem;
  width: 100%;
  margin-left: -9.375rem
}
.hero__img img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.aboutus {
  padding-bottom: 5.3125rem
}
.aboutus__body {
  display: flex;
  gap: 2.25rem;
  justify-content: space-between
}
.aboutus__top {
  max-width: 9.375rem;
  width: 100%
}
.aboutus__content {
  max-width: 58.125rem;
  width: 100%
}
.aboutus__title {
  font-weight: 700
}
.aboutus__title:not(:last-child) {
  margin-bottom: 3.5rem
}
.aboutus__inner {
  display: flex;
  justify-content: space-between;
  gap: 3.5rem
}
.aboutus__facts {
  font-weight: 500;
  font-size: 1.5625rem;
  line-height: 140%
}
.aboutus__facts span {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: block;
  font-weight: 700;
  font-size: 7.5rem;
  line-height: 100%
}
.aboutus__info {
  max-width: 31.625rem;
  width: 100%
}
.aboutus__text {
  display: grid;
  align-content: start;
  gap: 1.5rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 140%
}
.aboutus__text b {
  font-weight: 700;
  color: var(--acid-green)
}
.aboutus__text:not(:last-child) {
  margin-bottom: 2.25rem
}
.aboutus__text-cursive {
  font-style: italic
}
.scroll-line {
  display: flex;
  align-items: center;
  background-color: var(--acid-green);
  padding: 1rem 1.25rem;
  gap: 2.25rem
}
.scroll-line__texts {
  display: flex;
  align-items: center;
  white-space: nowrap;
  -webkit-animation: 35s scrollline infinite linear;
  animation: 35s scrollline infinite linear;
  gap: 2.25rem
}
.scroll-line__text {
  font-size: 1.5rem;
  line-height: 140%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 2.25rem
}
.scroll-line__text::after {
  content: "";
  width: 1rem;
  height: 1rem;
  background: url(../img/icons/star-dark.svg) center/contain no-repeat
}
.services {
  padding: 3.5rem 0
}
.services__body {
  display: flex;
  justify-content: space-between;
  gap: 2.25rem
}
.services__aside {
  max-width: 20rem;
  width: 100%
}
.services__top {
  margin-bottom: 5.375rem
}
.services__title {
  margin-bottom: 3.5rem
}
.services__link .button__circle {
  background-color: var(--acid-green)
}
.services__link .button__circle::before {
  background-color: var(--acid-green)
}
.services__content {
  max-width: 51.25rem;
  width: 100%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill,minmax(18.125rem,1fr));
  gap: 3.5rem 2.25rem
}
.services__item {
  max-width: 22.9375rem
}
.services__item-head {
  font-weight: 600;
  font-size: 1.1875rem;
  text-transform: uppercase;
  border-bottom: 1px solid var(--dark-grey);
  padding-bottom: 1.375rem;
  margin-bottom: 2.25rem
}
.services__item-title {
  font-weight: 500;
  font-size: 2.375rem;
  margin-bottom: 1rem
}
.services__item-icon {
  width: 3.9375rem
}
.services__item-icon:not(:last-child) {
  margin-bottom: 1.5rem
}
.services__item-icon img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.services__item-text {
  line-height: 140%
}
.services__item-text:not(:last-child) {
  margin-bottom: 1.5rem
}
.why-site__top {
  padding: 3.5rem 0;
  background: url(../img/why-bg.webp) center/cover no-repeat;
  position: relative;
  color: var(--white)
}
.why-site__top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(17,17,17,.85)
}
.why-site__head {
  position: relative;
  z-index: 2;
  margin-bottom: 3.6875rem
}
.why-site__items {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(13.75rem,1fr));
  gap: 1.5rem
}
.why-site__item {
  position: relative
}
.why-site__item-num {
  font-weight: 700;
  font-size: 4rem;
  color: #464444;
  margin-bottom: .625rem
}
.why-site__item-title {
  font-size: 1.875rem;
  margin-bottom: 1.1875rem;
  line-height: 120%
}
.why-site__item-text {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 120%
}
.why-site__contacts {
  background: linear-gradient(90deg,#43f227 0,#23c009 100%);
  padding: 3.5rem 0
}
.why-site__info {
  position: relative;
  z-index: 1;
  margin-bottom: 2.25rem
}
.why-site__info::before {
  content: "";
  position: absolute;
  top: -9.375rem;
  left: 12.5rem;
  z-index: -1;
  pointer-events: none;
  width: 28.6%;
  height: 255%;
  background: url(../img/decore-circle.svg) center/contain no-repeat
}
.why-site__title {
  max-width: 33.375rem;
  width: 100%;
  margin-bottom: 1rem
}
.why-site__text {
  max-width: 33.375rem;
  width: 100%
}
.why-site__decor {
  max-width: 43.4%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 5rem;
  -webkit-transform: translate(0,-55%);
  transform: translate(0,-55%);
  z-index: -1;
  pointer-events: none
}
.why-site__form {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  z-index: 2
}
.why-site__input {
  max-width: 18.25rem;
  width: 100%;
  color: var(--dark-grey);
  background-color: var(--white)
}
.why-site__input::-webkit-input-placeholder {
  color: var(--dark-grey)
}
.why-site__input:-ms-input-placeholder {
  color: var(--dark-grey)
}
.why-site__input::-ms-input-placeholder {
  color: var(--dark-grey)
}
.why-site__input::placeholder {
  color: var(--dark-grey)
}
.reviews {
  padding: 3.5rem 0
}
.reviews__top {
  margin-bottom: 2.25rem
}
.reviews__title {
  text-align: center
}
.reviews__wrapper:not(:last-child) {
  margin-bottom: 2.25rem
}
.reviews__quotes {
  max-width: 11.5rem;
  margin: 0 auto
}
.reviews__quotes img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.reviews__text {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 140%;
  text-align: center;
  margin-bottom: 2.25rem
}
.reviews__user {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 1.5rem
}
.reviews__user-img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden
}
.reviews__user-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.reviews__user-name {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: .875rem
}
.reviews__user-profesion {
  font-weight: 400;
  font-size: 1.25rem
}
.clients {
  padding: 3.5rem 0;
  background-color: var(--black);
  color: var(--white)
}
.clients__top {
  margin-bottom: 2.75rem
}
.clients__items {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin: 0 -1.25rem;
  padding: 0 2.5rem;
  -ms-overflow-style: none;
  scrollbar-width: none
}
.clients__items::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
  -webkit-appearance: none;
  appearance: none
}
.clients__item {
  min-width: 11.25rem;
  border: 1px solid #393939;
  padding: 1.75rem 1.875rem
}
.clients__item img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.faq {
  padding: 3.5rem 0
}
.faq__container {
  max-width: 89.6875rem
}
.faq__top {
  margin-bottom: 2.25rem
}
.faq__title {
  text-align: center;
  margin-bottom: 2.25rem
}
.portfolio {
  padding-top: 3.5rem;
  background-color: var(--black);
  color: var(--white)
}
.portfolio__top {
  margin-bottom: 2.25rem
}
.portfolio__gallery {
  display: grid;
  grid-template-columns: repeat(3,1fr)
}
.portfolio__item {
  position: relative;
  overflow: hidden;
  display: grid
}
.portfolio__item img {
  aspect-ratio: 640/380;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s,-webkit-transform .6s
}
.portfolio__item-info {
  position: absolute;
  z-index: 2;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.5rem;
  color: var(--white)
}
.portfolio__item-category {
  line-height: 120%;
  margin-bottom: .3125rem
}
.portfolio__item-name {
  font-weight: 700;
  line-height: 120%
}
.portfolio__all {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  white-space: nowrap
}
.blog {
  padding: 3.5rem 0
}
.blog__top {
  margin-bottom: 2.25rem
}
.blog__title {
  text-align: center;
  margin-bottom: 3.75rem
}
.blog__wrapper:not(:last-child) {
  margin-bottom: 3.75rem
}
.blog__card {
  position: relative
}
.blog__card-img {
  max-width: 26.5rem;
  width: 100%
}
.blog__card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.blog__card-body {
  background-color: var(--white);
  padding: 1.5rem;
  display: grid;
  align-content: start;
  gap: 1.5rem
}
.blog__card-date {
  font-weight: 500;
  font-size: 1rem;
  line-height: 140%
}
.blog__card-title {
  font-weight: 500
}
.blog__card-text {
  line-height: 140%;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock,
.swiper-pagination-lock {
  display: none!important
}
@media (min-width:47.99875em) {
  .blog__card-body {
    position: absolute;
    top: auto;
    bottom: 0;
    right: 0;
    left: auto;
    z-index: 2;
    max-width: 21.5625rem;
    width: 100%
  }
}
@media (min-width:61.99875em) {
  .spollers__item {
    margin-right: 1.8125rem;
    transition: margin .3s
  }
  .spollers__item[open] {
    margin-right: 0
  }
}
@media (min-width:80.25em) {
  .hero__title {
    font-size: 3.1875rem
  }
  .hero__title span {
    font-size: 4.0625rem
  }
  .aboutus__title {
    font-size: 3.625rem
  }
  .faq__top {
    padding-left: 4.6875rem
  }
  .blog__card-title {
    font-size: 2.375rem
  }
}
@media (min-width:89.99875em) {
  .portfolio__item-category {
    font-size: 1.25rem
  }
  .portfolio__item-name {
    font-size: 2.375rem
  }
}
@media (min-width:106.24875em) {
  .menu__email {
    font-size: 2.375rem
  }
}
@media (max-width:80.25em) {
  .header__desktop-menu:not(:last-child) {
    margin-right: 1.625rem
  }
  .header__social:not(:last-child) {
    margin-right: 1.625rem
  }
  .desktop-menu__list {
    gap: .625rem 1rem
  }
  .why-site__form {
    flex-wrap: wrap
  }
  .why-site__input {
    max-width: none;
    flex: 1 1 auto;
    width: calc(50% - 1rem)
  }
  .clients__items {
    padding: 0 1.25rem
  }
}
@media (max-width:61.99875em) {
  .menu__close {
    top: 1.25rem
  }
  .menu__contacts {
    gap: 1.5rem
  }
  .menu__email-label {
    margin-bottom: 1rem
  }
  .menu__label {
    margin-bottom: 1rem
  }
  .menu__list {
    padding: 5.625rem 0 3.4375rem 1.25rem;
    gap: 1.25rem
  }
  .header {
    padding: 1rem 0
  }
  .header__body {
    gap: 1rem
  }
  .header__body:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .header__logo:not(:last-child) {
    margin-right: auto
  }
  .header__social:not(:last-child) {
    margin-right: 0
  }
  .desktop-menu {
    display: none
  }
  .footer__body {
    flex-wrap: wrap;
    gap: 3.5rem
  }
  .footer__contacts {
    max-width: 100%
  }
  .hero__content {
    position: relative
  }
  .hero__text {
    font-size: 1.125rem
  }
  .services__body {
    flex-direction: column;
    justify-content: stretch
  }
  .services__aside {
    max-width: 100%
  }
  .services__top {
    margin-bottom: 2.25rem
  }
  .services__title {
    margin-bottom: 2.25rem
  }
  .services__content {
    max-width: 100%;
    gap: 2.25rem
  }
  .services__item {
    max-width: 100%
  }
  .why-site__head {
    margin-bottom: 2.25rem
  }
  .why-site__decor {
    right: 0;
    -webkit-transform: translate(0,-70%);
    transform: translate(0,-70%)
  }
  .portfolio__gallery {
    grid-template-columns: repeat(auto-fit,minmax(18.125rem,1fr))
  }
  .portfolio__item-info {
    padding: .875rem
  }
  .portfolio__item-name {
    font-size: 1.5rem
  }
}
@media (max-width:47.99875em) {
  .input {
    height: 2.875rem;
    font-size: 1rem;
    padding: .625rem 1.5rem
  }
  .select__value {
    height: 2.875rem;
    padding: .625rem 1.5rem;
    font-size: 1rem
  }
  .select__options {
    border-radius: 1.875rem
  }
  .select__option {
    padding: .875rem 1.5rem;
    font-size: 1rem
  }
  .menu__email-label {
    font-size: 1.125rem
  }
  .menu__label {
    font-size: 1.125rem
  }
  .menu__phone {
    font-size: 1.125rem
  }
  .menu__link {
    font-size: 1.125rem
  }
  .spollers__item {
    font-size: .875rem
  }
  .spollers__title {
    font-size: 1.25rem
  }
  ._spoller-init .spollers__title::after,
  ._spoller-init .spollers__title::before {
    right: .625rem;
    height: .1875rem;
    width: .75rem
  }
  .title {
    font-size: 1.875rem
  }
  .button,
  .button-white {
    min-height: 3.75rem;
    min-width: 0;
    font-size: 1.25rem;
    padding: .5rem .5rem .5rem 1.5rem
  }
  .form-block__checkboxes {
    gap: 1rem
  }
  .header {
    padding: .3125rem 0
  }
  .header._header-scroll {
    padding: .3125rem 0
  }
  .footer {
    padding: 2.25rem 0
  }
  .footer__info {
    gap: 1.5rem
  }
  .footer__menu-list {
    gap: 1.5rem
  }
  .footer__text {
    margin-bottom: 1.5rem
  }
  .hero {
    margin-bottom: 5.875rem
  }
  .hero__text {
    font-size: 1rem
  }
  .hero__text:not(:last-child) {
    margin-bottom: 1.5rem
  }
  .aboutus__body {
    flex-direction: column
  }
  .services {
    padding: 2.25rem 0
  }
  .services__item-title {
    font-size: 1.875rem
  }
  .why-site__contacts {
    padding: 2.25rem 0
  }
  .reviews {
    padding: 2.25rem 0
  }
  .reviews__quotes {
    max-width: 8.75rem
  }
  .reviews__text {
    font-size: 1.125rem
  }
  .faq {
    padding: 2.25rem 0
  }
  .portfolio {
    padding-top: 2.25rem
  }
  .portfolio__item-category {
    font-size: .875rem
  }
  .blog {
    padding: 2.25rem 0
  }
  .blog__title {
    margin-bottom: 1.5rem
  }
  .blog__wrapper:not(:last-child) {
    margin-bottom: 1.5rem
  }
  .blog__card-img {
    max-width: none
  }
}
@media (max-width:40.62375em) {
  .menu__inner {
    padding-top: 3.125rem;
    flex-direction: column
  }
  .menu__content {
    max-width: none;
    width: auto;
    margin: 0 -1.25rem;
    padding: 1.875rem 1.25rem;
    order: 2
  }
  .menu__content::before {
    display: none
  }
  .menu__logo {
    margin-bottom: 0
  }
  .menu__list {
    padding: 1.875rem 0;
    order: 1;
    margin-bottom: auto
  }
  .top {
    padding-top: 6.25rem
  }
  .hero__body {
    flex-direction: column-reverse
  }
  .hero__content {
    padding-top: 2.5rem
  }
  .hero__title {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content
  }
  .hero__img {
    margin-left: 0
  }
  .aboutus__inner {
    flex-direction: column
  }
  .blog__slider {
    margin: 0 -1.25rem
  }
  .blog__card-img img {
    aspect-ratio: 375/250
  }
  .blog__card-body {
    padding: 1.5rem 1.5rem 0 1.5rem
  }
}
@media (max-width:34.37375em) {
  .header__logo {
    max-width: 6.5625rem
  }
  .why-site__top {
    background: url(../img/why-bg-mob.webp) center/cover no-repeat
  }
  .why-site__info::before {
    width: 70%;
    height: 200%;
    left: auto;
    right: .625rem
  }
  .why-site__decor {
    max-width: 60%;
    -webkit-transform: translate(0,-80%);
    transform: translate(0,-80%);
    right: -1.875rem
  }
  .why-site__input {
    width: 100%
  }
  .why-site__btn {
    max-width: 100%;
    width: 100%
  }
}
@media (max-width:29.99875em) {
  .checkbox__text {
    font-size: .875rem
  }
  .menu__logo {
    max-width: 9.375rem
  }
  .menu__email {
    font-size: 1.125rem
  }
  .form-block {
    gap: 1.5rem
  }
  .form-block__btn {
    max-width: 100%
  }
  .social-block {
    gap: .5625rem
  }
  .footer__body {
    flex-direction: column
  }
  .footer__logo {
    max-width: 9.875rem
  }
  .footer__copy {
    margin-top: 0
  }
  .footer__copy br {
    display: none
  }
  .footer__text {
    font-size: .875rem
  }
  .hero__title {
    font-size: 1.75rem
  }
  .hero__title span {
    font-size: 1.75rem
  }
  .hero__text {
    text-align: center
  }
  .hero__btn {
    max-width: 100%
  }
  .aboutus__title {
    font-size: 1.75rem
  }
  .blog__card-title {
    font-size: 1.625rem
  }
}
@media (max-width:23.12375em) {
  .social-block__link {
    width: 1.875rem;
    height: 1.875rem
  }
  .social-block__link svg {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
  }
  .blog__card-body {
    padding: 1.25rem .9375rem 0 .9375rem
  }
}
@media (min-width:29.99875em)and (max-width:106.24875em) {
  .menu__email {
    font-size: clamp(1.125rem ,.6332172131rem + 1.6393442623vw ,2.375rem)
  }
}
@media (min-width:29.99875em)and (max-width:80.25em) {
  .hero__title {
    font-size: clamp(1.75rem ,.8918481505rem + 2.8606253576vw ,3.1875rem)
  }
  .hero__title span {
    font-size: clamp(1.75rem ,.3694948509rem + 4.6018755752vw ,4.0625rem)
  }
  .aboutus__title {
    font-size: clamp(1.75rem ,.6306715007rem + 3.7312504664vw ,3.625rem)
  }
  .blog__card-title {
    font-size: clamp(1.625rem ,1.1772686003rem + 1.4925001866vw ,2.375rem)
  }
}
@media (min-width:47.99875em)and (max-width:89.99875em) {
  .portfolio__item-category {
    font-size: clamp(.875rem ,.4464397321rem + .8928571429vw ,1.25rem)
  }
}
@media (min-width:61.99875em)and (max-width:89.99875em) {
  .portfolio__item-name {
    font-size: clamp(1.5rem ,-.4374609375rem + 3.125vw ,2.375rem)
  }
}
@media (any-hover:hover) {
  .checkbox:hover .checkbox__fake {
    border-color: var(--acid-green)
  }
  .select__option:hover {
    background-color: var(--black)
  }
  .icon-menu:hover {
    color: var(--acid-green)
  }
  .menu__email:hover {
    color: var(--acid-green)
  }
  .menu__phone:hover {
    color: var(--acid-green)
  }
  .menu__link:hover {
    color: var(--acid-green)
  }
  .button-white:hover,
  .button:hover {
    color: var(--dark-grey);
    border-color: var(--dark-grey)
  }
  .button-white:hover .button__circle,
  .button:hover .button__circle {
    background-color: var(--dark-grey);
    color: var(--white)
  }
  .button-white:hover .button__circle::before,
  .button:hover .button__circle::before {
    -webkit-transform: translate(0,-50%) scale(20);
    transform: translate(0,-50%) scale(20)
  }
  .button-white:hover {
    border-color: var(--dark-grey)
  }
  .button-dark:hover,
  .button-empty:hover {
    color: var(--white)
  }
  .button-dark:hover::before,
  .button-empty:hover::before {
    top: 0
  }
  .button-dark:hover.button-empty--white,
  .button-empty:hover.button-empty--white {
    color: var(--dark-grey);
    border-color: var(--acid-green)
  }
  .button-dark:hover {
    color: var(--dark-grey)
  }
  .desktop-menu__link:hover {
    color: var(--acid-green)
  }
  .social-block__link:hover {
    color: var(--dark-grey);
    border-color: var(--dark-grey)
  }
  .social-block__link:hover::before {
    top: 0
  }
  .languages__link:hover {
    color: var(--acid-green)
  }
  .footer__menu-link:hover {
    color: var(--acid-green)
  }
  .scroll-line:hover .scroll-line__texts {
    -webkit-animation-play-state: paused;
    animation-play-state: paused
  }
  .portfolio__item:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
}
@media (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-height:31.24875em) {
  .menu__contacts {
    gap: 1.25rem
  }
  .menu__list {
    gap: 1.25rem
  }
  .header {
    padding: 1rem 0
  }
}
@media (max-height:61.99875em)and (max-height:31.24875em) {
  .header__body:not(:last-child) {
    margin-bottom: 1.25rem
  }
}